//output:index.html

doctype html
head
meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900")
link(rel="stylesheet", href="css/screen.css")
title iOS Calendar
body
  #app
    .phone
      .calender
        .head
          .tag(v-for="tag in tags") {{tag}}
        .body
          .daybox(v-for="(day,day_id) in days",
                  :class="day_id===selected_day?'active':''",
                  @click="selected_day=day_id",
                  :style="get_pan(day_id)")
            //- .test {{day.number}}
            .infos
              .number {{day.number}}
              .lunar {{lunar(day.number)}}
            .eventdot(:class="{has_event: day.events.length>0}")
        .todos(tag="ul", name="fade", mode="out-in")
          .items(v-for="(todo, todo_id) in now_events",
                 :key="todo",
                 :class="'type_'+todo.type",
                 v-if="todo")
            .time {{todo.time}}
            .title {{todo.title}}
            .remove_btn(@click="now_events.splice(todo_id,1)") x
    .form
      input(name="title", 
            placeholder="事件標題", 
            v-model="new_item.title")
      input(name="title", 
            placeholder="時間", 
            v-model="new_item.time")
      select(name="type", 
            placeholder="種類",
            v-model="new_item.type")
        option(value="work") 工作
        option(value="important") 重要
        option(value="happy") 娛樂
      button(type="submit", 
            @click="add_item") 加入
        
        


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="calendar.js")
        
